@model IEnumerable<Practice8._1.Models.Employee>

@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm())
{
    <label>EmployeeName:</label>
    @Html.TextBox("searchName","", new { @class = "form-control"})
    <label>EmployeeDOB:</label>
    @Html.TextBox("searchDate","", new { @class = "form-control", @type = "date"})
    <button type="submit">Search</button>
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeDOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeDepartment)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeDOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeDepartment)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId }) |
                @Html.ActionLink("Details", "Details", new { id = item.EmployeeId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId })
            </td>
        </tr>
    }

</table>
